# Copyright (c) 2023 Linkedsemi
# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_LE5010=y
CONFIG_SOC_SERIES_LE501X=y
CONFIG_BOARD_CUSTOM_PLANK=y

CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=2000000
CONFIG_USE_SEGGER_RTT=y
CONFIG_MINIMAL_LIBC=y
CONFIG_MINIMAL_LIBC_RAND=y

CONFIG_GPIO=y

CONFIG_PINCTRL=y

# Power Management
CONFIG_PM=y
CONFIG_PM_DEVICE=y
CONFIG_PM_POLICY_CUSTOM=y
